#card {
    font-family: 'calibri';
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start: 20px;
    padding-block-end: 20px;
    width: 340px;
}

#image {
    overflow: hidden;
}

#minibanner {
    transition: all 0.3s;
}

#minibanner:hover {
    transform: scale(1.2);
}


@media (max-width: 1025px) {
    #card {
        width: 100%;
    }
}